*, *::before, *::after {
  box-sizing: border-box;
}

body {
  background-color: #55c;
  margin: 0;
  color: #fff;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 18px;
}

.search {
  background-color: #33a;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: center;
  padding: 15px 0;
}

select {
  appearance: none;
  background: #fff no-repeat right 10px center / 18px url(./media/select-bg-dark.svg);
  display: block;
  max-width: 250px;
  margin: 0 10px;
  padding: 5px;
  padding-right: 35px;
  border: none;
  border-radius: 0;
  color: #33a;
  font: inherit;
}

select:nth-child(odd) {
  width: 25%;
}

select:nth-child(even) {
  width: 50%;
}

select:focus {
  background: #a80 no-repeat right 10px center / 18px url(./media/select-white.svg);
  color: #fff;
  outline: none;
}

table {
  max-width: 1000px;
  margin: auto;
  padding: 0 15px;
}

td {
  padding: 5px;
}

.spinner {
  position: fixed;
  top: 50%;
  left: 50%;
  background-color: #fff;
  mask: no-repeat center url(./media/spinner.svg);
  width: 24px;
  height: 24px;
  animation: spinner 1s infinite linear;
}

@keyframes spinner {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
